%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WorkoutLounge
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header{role: 'banner'}
      %nav{class: 'navbar navbar-default navbar-fixed-top', role: 'navigation'}
        .container-fluid
          .navbar-header
            %button{type: 'button', class: 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'Athletes Den', root_path, {class: 'navbar-brand'}  
          .navbar-collapse.collapse{id: 'bs-example-navbar-collapse-1'}
            %ul.nav.navbar-nav
              %li.active= link_to 'Home', root_path
            %ul.nav.navbar-nav.navbar-right
              %li= link_to 'Sign up', new_user_registration_path
              %li= link_to 'Sign in', new_user_session_path

            - if user_signed_in?
              .navbar-right
                %p.navbar-text
                  Signed in as 
                  = current_user.email
    .row
      .col-md-12
        - flash.each do |key, message|
          .text-center.alert{ class: "alert-#{key == 'notice'? 'success' : 'danger'}" }
            = message
      .container
        = yield
